*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Arial', sans-serif;
	color: #333;
}

html, body, #AppContainer{
	height: 100%;
	width: 100%;
}

html{
	font-size: 100%;
}

.App{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	.public{
		display: flex;
		flex: 1;

		.displayed{
			flex: 1;
		}
	}

	.votingContainer{
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	.sidebar{
		//display: none;
		padding: 1rem;
		.status{
			width: 4rem;
			height: 5px;
			border-radius: 4px;
			background-color: red;

			&.con{
				background-color: green;
			}
		}
		button{
			display: block;
			border: 2px solid #0089cc;
			padding: .5rem;
			width: 4rem;
			background-color: transparent;
			border-radius: 4px;
			margin-top: 1rem;
			cursor: pointer;
			font-weight: 600;
			color: #0089cc;
			outline: none;

			&:hover{
				color: #fff;
				background-color: #0089cc;
			}
		}
		.checkbox{
			font-size: .7em;
			padding-top: .25rem;

			label{
				padding-left: .25rem;
			}
		}
	}
}