.Settings{
	.items{
		display: flex;

		.inputItem{
			padding: 1rem;
			width: 15rem;

			.label{
				font-size: .8em;
				span{
					text-decoration: underline;
					cursor: pointer;
				}
			}
			input{
				border: none;
				border-bottom: 1px solid transparent;
				font-size: 2em;
				outline: none;
				width: 100%;
				border-radius: 4px;

				&.toFill{
					box-shadow: 0 0 8px 1px #0089cc;
				}

				&:focus{
					border-bottom-color: #333;
				}
			}
			&:last-child{
				flex: 1;
			}
			.hidden{
				display: none;
			}
		}
	}
}